@charset "utf-8";
/* CSS Document */
@media screen and (max-width:980px ) {
 body{
 background-color: red;
 }
}
/*	初始化*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

body{
/*	默认最小高度两屏*/
	min-height:180vh;;
	background-color:#8AB5C5;
}
/*--------*/
/*--导航--*/
/*--------*/
header{
/*	固定定位*/
    position:fixed;
	top: 0;
	left: 0;
	width: 100%;
/*弹性布局+元素靠边对齐*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.1rem 6.5rem;
	z-index: 1;
/*	动画过渡*/
    transition: 0.6s;
}
.name{
	font-size: 3rem;
	color: #fff;
	font-weight:700;
	text-decoration: none;
/*	转大写*/
	text-transform: uppercase;
/*	字间距*/
	letter-spacing: 4px;
	transition: 0.6s;
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	list-style: none;
}
header ul li a{
	margin: 0 1.25rem;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	letter-spacing: 2px;
	transition: 0.6s;
	font-size: 1.25rem;
}
header.sticky{
	padding: 0.375rem 6.25rem;
	background-color: #fff;
}
header.sticky .name,
header.sticky ul li a{
	color:#8AB5C5;
}
/*--------*/
/*--主图--*/
/*--------*/

.box1:hover  img{
	transform: rotate(14deg);
}
.box1:hover .beijing1{
	transform: rotate(23deg);
}
.box1:hover .beijing2{
	transform: rotate(5deg);
}
.box1 img{
	position:fixed;
	border-radius: 3%;
	width: 32%;
	height: 68%;
	top: 20%;
	left: 6%;
	z-index: 3;
	transition: all 0.3s;
	transform:rotate(6deg);
	box-shadow: 0 0 1.25rem rgba(0,0,0,0.8)
}

/*旋转和阴影控制*/
.beijing1 {
	position:fixed;
	border-radius: 5%;
	width: 32%;
	height:68%;
	z-index: 1;
    top: 15%;
	left: 7.2%;
	transition: all 0.3s;
	transform: rotate(14.8deg);
	box-shadow: 0 0 1.25rem rgba(0,0,0,0.8)
}
/*旋转和阴影控制*/
.beijing2 {
	position:fixed;
	top: 12%;
	left: 3%;
	border-radius:5%;
	width: 32%;
	height:68%;
	z-index: 2;
	transition: all 0.3s;
	transform: rotate(-0.1deg); 
	box-shadow: 0 0 1.25rem rgba(0,0,0,0.8)
}
/*--------*/
/*动画线条*/
/*--------*/
.xiantiao1{
	position:absolute;
	width:16%;
	height:10%;
    top: 26%;
	left: 41%;
	transform: rotate(-15deg);	
}
.xiantiao1{
   	animation: move 1s linear forwards;
    stroke-dasharray: 1000%,1000%;
	
}
@keyframes move {
  0%{
      stroke-dashoffset: 1000%;
  }
  100%{
      stroke-dashoffset: 0;
  }
}
.xiantiao2{
	position:absolute;
	width:16%;
	height:10%;
	top: 48%;
	left: 37%;
	transform: rotate(-18deg);
}
.xiantiao2{
    animation: move 2s linear forwards;
    stroke-dasharray:1000%,1000%;
}
@keyframes move {
  0%{
      stroke-dashoffset: 50rem;
  }
  100%{
      stroke-dashoffset: 0;
  }
}
.xiantiao3{
	position:absolute;
	width:16%;
	height:10%;
	top: 72%;
	left: 32%;
	transform: rotate(-15deg);
}
.xiantiao3{
    animation: move 3s linear forwards;
    stroke-dasharray: 1000%,1000%;
}

@keyframes move {
  0%{
      stroke-dashoffset: 50rem;
  }
  100%{
      stroke-dashoffset: 0;
  }
}
/*--------*/
/*导航2*/
/*--------*/
.biaoti{
	position:absolute;
	width: 20%;
	height: 80%;
	left:37%;
	top:20%;
	padding: 0;
	margin: 0;
/*	background-color:antiquewhite;*/
	overflow: hidden;
	display: flex;
/*	元素纵向排列*/
	flex-direction: column;
	color:#fff;
	transform:rotate(16deg);
}
.biaoti p{
	display: flex;
	font-size: 400%;
	padding:20%;
	text-shadow: 0.1rem 0.06rem 0.1rem #600;

}

/*-----------------*/
/***** 演员表 *****/
/*-----------------*/
.yanyuanbiao{
	position:absolute;
	width: 40%;
	height: 20%;
	left:55%;
	margin-top:9%;
	display: flex;
	align-items: center;
	flex-direction: row;

}
.card{
	position:relative;
	width: 19%;
	height:95%;
	margin: 2rem;
	background-color:#8AB5C5;
	border-radius: 5%;
	overflow: hidden;
	display: flex;
/*	元素纵向排列*/
	flex-direction: column;
/*	居中*/
	align-items: center;
	color: #fff;
/*	阴影*/
	box-shadow:0.44rem 0.44rem 0.9rem rgba(0,0,0,0.8);
/*	不让其被挤压*/


	flex-shrink: 0;
}
.card .photo img{
	width: 100%;
	height: 100%;
/*	保持原有尺寸比例 裁切边长*/
	object-fit: cover;
}
/*默认大图*/
.card .photo{
/*	绝对定位*/

	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0%;
	overflow: hidden;
/*	动画过渡*/
	transition: 0.5s;
}
/*鼠标移入变小图*/
.card:hover .photo{
	top:10%;
	width: 55%;
	height:42%;
	border-radius: 50%;
	box-shadow: 0 0 1.25rem rgba(0,0,0,0.8)
}
.card h1{
	position: absolute;
	top:120%;
	transition: 0.5s;

}
/*这里加个黑色透明的渐变背景 可以更好地看清楚名字*/
.card.photo:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background:linear-gradient(to bottom,transparent 50%,#222);
}
.card:hover h1{
	top:55%;
}
.card h2{
	margin-top: 95%;
	width: 80%;
	border-bottom: 0.06rem solid rgba(255,255,255,0.3);
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1.2rem;
	padding-bottom:1rem;
	
}
/*-----------------*/
/***** 概述 *****/
/*-----------------*/
.gaishu{
	position:absolute;
	width: 43%;
	height: 13%;
	left:54.2%;
	top:46%;
	margin: 0;
	padding: 0;
/*display: flex;
	align-items:stretch;*/
/*	flex-direction: row;*/
	font-size: 130%;
	color: #fff;
/*	text-shadow: 0.1em 0.06em 0.1em #600;*/

}
.biaoti2{
	font-size: 160%;
	text-shadow: 0.1rem 0.06rem 0.2rem #600;
}

/*-----------------*/
/***** 剧情 *****/
/*-----------------*/

.juqing{
	position:absolute;
	width: 48.3%;
	height: 16%;
	left:49%;
	top: 70%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items:center;
	flex-direction: row;
	font-size: 130%;
	color: #fff;
/*	text-shadow: 0.1em 0.06em 0.1em #600;*/
    color: #fff;


	text-indent: 2rem;
}

/*-----------------*/
/***** 评论 *****/
/*-----------------*/
.pinglun{
	position:absolute;
	width: 48.7%;
	height: 55%;
	left:49%;
	top: 99%;
    padding:0;
	margin: 0;
	font-size: 1.56rem;
	color:#fff;
	text-align: left;
	display: flex;
	align-content: center;
	flex-direction:column;
/*	margin: 10px;*/
/*	background-color:aquamarine;*/
}

.box2 img{
	position: relative;
	max-height: 50%;
	max-width: 50%;
	top:10%;
	border-radius: 1.56rem;
	box-shadow:0.44rem 0.44rem 1.25rem rgba(0,0,0,0.6);
}
.box2 p{
	position: absolute;
	width: 80%;
	margin:0%;
	padding:0;
	left: 15%;
/*	background-color: aqua;*/
}
/*-----------------*/
/***** 尾部 *****/
/*-----------------*/
.footer{
/*	固定定位*/
    position:absolute;
    margin-top:95%;
	width: 100%;
/*弹性布局+元素靠边对齐*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem 6.25rem;
	color: #000;
}