@charset "utf-8";
/* CSS Document */

@media screen and (max-width:980px ) {
 body{
 background-color: red;
 }
}
/*初始化取消内外边距*/
*{
	margin: 0;
	padding: 0;
}
body{
/*	100%窗口高度*/
	height: 100vh;
/*	弹性布局 居中*/
	display:flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #000;
}
/*------导航------*/
/*------导航------*/
/*------导航------*/
header{
/*	固定定位*/
    position:fixed;
	top: 0;
	left: 0;
	width: 100%;
/*弹性布局+元素靠边对齐*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1% 0;
	z-index: 1;
/*	动画过渡*/
    transition: 0.6s;
}
.name{
	position:relative;
	color: #fff;
	text-decoration: none;
/*	转大写*/
	text-transform: uppercase;
/*	字间距*/
	letter-spacing: 1rem;
	
}
.a1{
	transition: 0s;
}
.a1:hover{
	color:#EFDA28;
}
.a2:hover{
	color:#DAC934;
}
.a3:hover{
	color:#8AB5C5;
}
.a4:hover{
	color:#08202A;
}
.a5:hover{
	color:#704529;
}
.a6:hover{
	color:#567F91;
}
.a7:hover{
	color:#6DBBE1;
}
.a8:hover{
	color:#3DA38C;
}

h2{
	display: flex;
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.6s;
}
h2 span{
/*	动画过渡*/
	transition: 0.5s;
}
h2:hover span{
/*	模糊*/
	filter: blur(20px);
/*	不透明度*/
	opacity: 0;
/*	放大*/
	transform: scale(2);
}
/*接下来为每一个span元素设置动画延迟时间*/
h2 span:nth-child(1){
	transition-delay: 0.16s;
}
h2 span:nth-child(2){
	transition-delay: 0.33s;
}
h2 span:nth-child(3){
	transition-delay: 0.5s;
}
h2 span:nth-child(4){
	transition-delay: 0.67s;
}
h2 span:nth-child(5){
	transition-delay: 0.83s;
}
h2 span:nth-child(6){
	transition-delay: 1s;
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	list-style: none;
}
header ul li a{
	margin: 0 1rem;
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.1rem;
	transition: 0.6s;
	font-size: 1.1rem;
}
header.sticky{
	padding: 0.6% 0;
	background-color: #fff;
}
header.sticky .name,
header.sticky ul li a{
	color:#000;
}
/*------轮播图------*/
/*------轮播图------*/
/*------轮播图------*/
.container1{
	width: 34rem;
	height: 50rem;

/*	这个属性用来增加卡片旋转的立体感*/
	perspective: 80rem;
/*	相对定位*/
	position: relative;
}
.card-box{
	position: absolute;
	width: 100%;
	height: 100%;
/*	给父元素加一个3D盒子属性*/
	transform-style: preserve-3d;
	transform: rotateY(0) translateZ(-43.75rem);
/*	执行动画 动画名 时长 贝塞尔曲线 无限次播放 */
	animation: cardRotate1 24s cubic-bezier(0.1,1,0.1,1) infinite;
}
.card1{
/*	绝对定位*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
/*	设置元素的倒影效果  below是倒影在元素下方 15px是元素和倒影的距离 后面的属性是设置倒影渐变*/
	-webkit-box-reflect:below 1rem 
	-webkit-linear-gradient(transparent 70%,rgba(255,255,255,0.3));
}
.card1 img{
	width: 100%;
	height: 100%;
	border-radius: 2rem;
/*	灰度滤镜*/
	filter: grayscale(1);
/*	设置灰度滤镜的过渡时间*/
	transition: filter 0s;
}
.card1 img:hover{
	transform: scale(1.1,1.1);
	filter: grayscale(0);
}
/*为每一个卡片设置初始化位置和旋转角度*/
.card1:nth-child(1){
	transform: rotateY(0) translateZ(43.75rem);
}
.card1:nth-child(2){
	transform: rotateY(45deg) translateZ(43.75rem);
}
.card1:nth-child(3){
	transform: rotateY(90deg) translateZ(43.75rem);
	
}
.card1:nth-child(4){
	transform: rotateY(135deg) translateZ(43.75rem);
	
}
.card1:nth-child(5){
	transform: rotateY(180deg) translateZ(43.75rem);
	
}
.card1:nth-child(6){
	transform: rotateY(225deg) translateZ(43.75rem);
	
}
.card1:nth-child(7){
	transform: rotateY(270deg) translateZ(43.75rem);
	
}
.card1:nth-child(8){
	transform: rotateY(315deg) translateZ(43.75rem);
	
}
/*定义动画*/

@keyframes cardRotate1{
	0%{
		transform: translateZ(-43.75rem) rotateY(45deg);
	}
	12.5%{
		transform: translateZ(-43.75rem) rotateY(0deg);
	}
	25%{
		transform: translateZ(-43.75rem) rotateY(-45deg);
	}
	37.5%{
		transform: translateZ(-43.75rem) rotateY(-90deg);
	}
	50%{
		transform: translateZ(-43.75rem) rotateY(-135deg);
	}
	62.5%{
		transform: translateZ(-43.75rem) rotateY(-180deg);
	}
	75%{
		transform: translateZ(-43.75rem) rotateY(-225deg);
	}
	87.5%{
		transform: translateZ(-43.75rem) rotateY(-270deg);
	}
	100%{
		transform: translateZ(-43.75rem) rotateY(-315deg);
	}
}
/*------轮播卡片------*/
/*------轮播卡片------*/
/*------轮播卡片------*/
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    width:25%;
    height: 20rem;
	left: 79%;
}
.card2{
    /* 绝对定位 */
    position: absolute;
    background-color: #fff;
    width: 26.9rem;
    height: 6.3rem;
    /* 弹性布局 */
    display: flex;
    /* 将元素靠边对齐 */
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    border-radius: 6.25rem 1.25rem 1.25rem 6.25rem;
    opacity: 0;
    /* 执行动画:动画名称 时长 线性的 无限次播放 */
    animation: animate 10s linear infinite;
    /* 这里我们需要给每一个卡片设置一个不同的动画延迟时间 */
    /* 用到自定义属性,我们设置一个自定义属性--d */
    /* 通过var函数调用自定义属性--d,计算出动画延迟时间 */
    animation-delay: calc(2s * var(--d));
}
/* 鼠标移入,动画暂停 */
.container2:hover .card2{
    animation-play-state: paused;
}
.card2 .content{
    display: flex;
    align-items: center;
}
.card2 .img{
    width: 5.625rem;
    height: 5.625rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 0.31rem;
    border-radius: 50%;
    /* 阴影 */
    box-shadow: 0 0 0.31rem rgba(0,0,0,0.2);
}
.card2 .img img{
    width: 100%;
    height: 100%;
    /* 对图片进行剪切,保留原始比例 */
    object-fit: cover;
    border-radius: 50%;
}
.card2 .detail{
    margin-left: 100px;
}
.card2 .detail span{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

/* 定义动画 */
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%,20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%,40%{
        opacity: 1;
        transform: translateY(0%) scale(1);
    }
    45%,60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%,100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}
/*------视频------*/
/*------视频------*/
/*------视频------*/
.container3{
	position: absolute;
	width: 52%;
	top: 80%;
	left: 25.6%;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.small-img-row{
	display: flex;
	background: #efefef;
	margin: 1.25rem 3.1rem;
	align-items: center;
	overflow: hidden;
	width: 85%;
}
.small-img{
	position: relative;
	height: 9.3rem;
}
.small-img img{
	width: 9.8rem;
}

.small-img-row:nth-child(1){
	background: url("../images/nameheidi.jpg");
}
.small-img-row:nth-child(2){
	background: url("../images/nameguangyuzhe.jpg");
}
.small-img-row:nth-child(3){
	background: url("../images/namedunkirk.jpg");
}
.small-img-row:nth-child(4){
	background: url("../images/namerango.jpg");
}
.small-img-row:nth-child(5){
	background: url("../images/namemanchester.jpg");
}
.small-img-row:nth-child(6){
	background: url("../images/namexiaosenlindongchun.jpg");
}
.small-img-row:nth-child(7){
	background: url("../images/namexiaosenlinxiaqiu.jpg");
}
.small-img-row:nth-child(8){
	background: url("../images/namesiwangshishe.jpg");
}
.play-btn{
	width: 80px;
	position: absolute;
	transform: translate(-120%,15%);
	cursor: pointer;
}
.small-img .play-btn{
	width: 2.2rem;
}
.video-player{
	width: 50%;
	position: fixed;
	left: 55%;
	top: 80%;
	height: 100%;
	transform: translate(-50%,-50%);
	display: none;
}
video:focus{
	outline: none;
}
.close-btn{
	position: absolute;
	top: 0.625rem;
	right: 0.625rem;
	width: 3.125rem;
	cursor: pointer;
}
/*------台词左------*/
/*------台词左------*/
/*------台词左------*/
.taici1{
	position:absolute;
	text-align: left;
	top: 103%;
	left: 5%;
	width:20%;
	font-size: 1.25rem;
	color: #fff;
/*	background-color: aqua;*/
}
.taici1 ul{
	list-style: none;
}
.taici1 ul li{
	padding: 2.18rem;
}
.biaoti1{
	margin:0 0 1.25rem 0;
	text-align: center;
	font-size: 1.875rem;
}
/*------台词右------*/
/*------台词右------*/
/*------台词右------*/
.taici2{
	position:absolute;
	text-align: left;
	top: 103%;
	right: 5%;
	width:20%;
	font-size: 1.25rem;
	color: #fff;
/*	background-color: aqua;*/
}
.taici2 ul{
	list-style: none;
}
.taici2 ul li{
	padding: 2.18rem;
}
.biaoti2{
	margin:0 0 1.25rem 0;
	text-align: center;
	font-size: 1.875rem;
}
/*------尾部------*/
/*------尾部------*/
/*------尾部------*/
.footer{
/*	固定定位*/
    position:absolute;
	color: #fff;
    top: 250%;
	width: 100%;
/*弹性布局+元素靠边对齐*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2.5rem 6.25rem;
}

